<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/css/index.css">
        <script src="/static/js/index.js"></script>
    </head>
    <body class="h-100 w-100">
        <div class="container-fluid h-100 w-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-lg-4 col-sm-10 text-center">
                    <div class="card text-center">
                        <div class="card-header">
                            <h3>{{ title }}</h3>
                        </div>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#inventory">Инвентаризация</button>
                            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#orders">Заказы</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <form id="inventory-form" method="POST">
            <div class="modal fade" id="inventory" tabindex="-1" role="dialog" aria-labelledby="inventoryLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="inventoryLabel">Инвентаризация</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button id="inventory-submit" type="submit" class="btn btn-primary" onClick="inventorySubmit();">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>