<html>
    <head>
        <title>Инвентаризация</title>
    </head>
    <body>
        <h1>Инвентаризация</h1>
        <div>
            <form action="/" method="post" name="inventory_form">
                {{ inventory_form.csrf_token }}
                {{ inventory_form.hidden_tag() }}
                <div>
                    <table>
                        <tr>
                            <th> # </th>
                            <th> Код </th>
                            <th> Наименование </th>
                            <th> Кол-во БД </th>
                            <th> Кол-во факт </th>
                        </tr>
                        {% for item in inventory_form.items %}
                        <tr>
                            <td>{{ item.row_number }}</td>
                            <td>{{ item.good_code }}</td>
                            <td>{{ item.good_name }}</td>
                            <td>{{ item.quantity_db }}</td>
                            <td>{{ item.quantity_fact }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <p><input type="submit" name="edit" value="Send"></p>
            </form>
        </div>
    </body>
</html>